.drop {
    animation: dropAnimation 2s ease-in-out infinite;
  }

@keyframes dropAnimation {
    0% {

      transform: scale(1.2);
      opacity: 1;
      transition: 500ms;
      transition-timing-function: ease-in-out;
    }
    20% {

      transform: scale(1.1);
      opacity: 1;
      transition: 1s;
      transition-timing-function: ease-in-out;
    }
    40% {
      transition: 1s;
      transition-timing-function: ease-in-out;
      transform: scale(1);
      opacity: 0.8;
    }
    60% {
      transition: 1s;
      transition-timing-function: ease-in-out;
      transform: scale(.9);
      opacity: 0.6;
    }
    80% {
      transition: 1s;
      transition-timing-function: ease-in-out;
      transform: scale(1);
      opacity: 0.8;
    }
    85% {
      transition: 1s;
      transition-timing-function: ease-in-out;
      transform: rotate(45deg);
      opacity: 0.8;
    }
    90% {
      transition: 1s;
      transition-timing-function: ease-in-out;
      transform: rotate(90deg);
      opacity: 0.8;
    }
    95% {
      transition: 1s;
      transition-timing-function: ease-in-out;
      transform: rotate(-45deg);
      opacity: 0.8;
    }
    100% {
      transition: 1s;
      transition-timing-function: ease-in-out;
      transform: scale(1.1);
      opacity: 1;
    }
  }