.msg_anim {
  animation-name: anim;
  animation-duration: 1s;
  /* font-size: 16px; */
  opacity: 100;
  border-bottom-right-radius: 30px;
}

@keyframes anim {
    0%   {opacity: 0; border-bottom-right-radius: 0px;}
    100%  {opacity: 100; border-bottom-right-radius: 30px;}
  }